<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>HM</title>
  </head>

  <body
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      background-color: rgba(44, 142, 199, 0.397);
    "
  >
    <header>
      <h1 style="text-align: center">Book Component By Function</h1>
    </header>
    <main style="flex: 1; text-align: center">
      <div style="display: flex; flex-direction: column; height: 50%">
        <div
          style="
            background-color: gray;
            height: 20%;
            font-size: 2rem;
            text-align: right;
            align-content: end;
          "
        >
          Kyle Simpson book
        </div>
        <div style="height: 30%; font-size: 3rem; text-align: right">
          SCOPE &<br />
          CLOSURES
        </div>
        <div
          style="
            background-color: yellow;
            height: 50%;
            font-size: 10rem;
            align-content: flex-end;
            text-align: right;
          "
        >
          JS
        </div>
      </div>
      <p style="font-size: 2rem; color: rgba(18, 22, 227, 0.604)">
        By Kyle Simpson
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ex
        quaerat minima iste excepturi assumenda.
      </p>
    </main>
    <footer style="text-align: center; flex: 0">2021 sanad</footer>
  </body>
</html>
